	body {
		margin-left: 15 px;
		font-family: "Verdana, Arial, Helvetica, sans-serif" ;
		font-size: 70% ;
	}
	.title { 
		font-size: 110% ;
		font-weight: bold;
		text-align: center;
		color: #0000cc;
		line-height: 100% ;
	} 
	.sinistra { 
		font-size: 110% ;
		text-align: left;
		line-height: 100% ;
	} 	
	.toc-articolo, .toc-annessi {
		margin-left: 7px;
		font-size: 65%;
	}
	.toc-comma {
		margin-left: 15px;
		font-size: 65%;
	}
	.toc {
		margin-left: 2px;
		font-size: 65%;
		font-weight: bold;
	}
	.capo { 
		font-size: 110% ;
		font-weight: bold;
		text-align: center;
		line-height: 100% ;
		margin-top: 25px; 
	} 
	.articolo { 
		font-size: 90% ; 
		text-align: center;
		font-weight: bold;
		margin-top: 15px; 
	}
	.comma { 
		font-size: 80% ; 
		margin-top: 5px; 
	}
	div, li {
		font-size: 80% ;
	}
	.small {
		font-size: 65% ;
	}
	.intestazione {
		margin: 15px, 15%, 0px, 15%;
		text-align: center;
	}
	.el {
		margin-left: 40px;
		text-indent: -30px;
		margin-top: 3px;
	}
	.en {
		margin-left: 50px;
		text-indent: -30px;
		margin-top: 3px;
	}	
    b b { font-weight: normal; }
	.ndr {
		color: #00cc00;
		text-decoration: underline;
	}
	.soppresso {
		color: red;
		text-decoration: line-through;
		background: #FFFFFF;
	}
	.inserito {
		color: green;
		background: #FFFFFF;
	}
	.mod {
		display: inline;
		font-size: 9pt;  
		font-weight: normal; 
		font-style: normal; 
		font-family: Courier;
		background: #FFDDAA;
	}
	.virgolette {
		display: inline; 
		border-width: solid; 
		background: #FFEE99;
	}	
	.spazio {
		display: inline; 
		background: #FFFFFF;
	}