				body {
					margin-left: 5px;
					font-family: "Verdana, Arial, Helvetica, sans-serif" ;
					font-size: 90% ;
					text-align:justify;
				}
				hr {
					margin:30px 25% 30px 25%;
					text-align:center;
				}
				em {
					font-size: 100%
				}
				.small {
					font-size: 65% ;
				}
				.intestazione {
					margin: 15px 10% 0px 10%;
					text-align: center;
					font-size: large;
				}
				.title {
					margin-top: 10px;
					text-align:center;
					font-size: 90% ;
					text-align: center;
				}
				.titoloDoc {
					margin-top: 15px;
					text-align:center;
					font-size: 110% ;
					font-weight: bold;
					text-align: center;
				}	
				.formulainiziale {
					text-align: justify;
					font-size: 100%;
					margin-bottom: 30px;
				}
				.preambolo {
					text-align: left;
					font-size: 100%;
				}
				.articolo { 
					font-size: 100% ; 
					margin-top: 15px; 
					text-align: center;
				}
				.titolo, .libro, .parte, .sezione { 
					font-size: 100% ; 
					font-weight: bold;
					text-align: center;
				}	
				.capo {
					padding-top: 10px;
					/*margin:25px 25% 5px 25%;*/
					text-align: center;
				}
				p.rubrica {
					text-align: center;
					margin-top: 0;
					font-style: italic;
					font-weight: lighter;
					font-size: 100%;
				}
				p.decorazione {
					text-align: center;
					margin-top: 0;
					font-weight: lighter;
					font-size: 100%;
				}
				.comma { 
					font-size: 100% ; 
					font-weight: normal;
					margin-top: 5px;
					margin-bottom: 5px;
					text-align: justify;
					text-indent: 1em;
				}
				.el {
					font-size: 100% ; 
					font-weight: normal;
					text-align: justify;
					margin-left: 5px;
					text-indent: 2em;
					margin-top: 2px;
				}
				.en {
					text-align: justify;
					margin-left: 55px;
					text-indent: -10px;
					margin-top: 2px;
					font-size: 100% ; 
					font-weight: normal;
				}
			    b b { font-weight: normal; }
				.ndr {
					text-decoration: underline;
				}
				a {
					text-align: justify;
				}
				.nota {
					font-size:90%;
					text-align: justify;
					display: inline;
					float: left;
				}
				.formulafinale {
					text-align: justify;
				}
				.dataeluogo {
					margin-top:25px;
					font-style:italic;
					font-weight:bold;
				}
				li {
					padding-right: 40px;
					text-align: left;
				}
				.visto {
					font-size: 80%;
					font-style:italic;
				}
				.firma {
					font-size: 80%;
					font-weight: bold;
				}
				.hidden {
					width:0px;
					height:0px;
					max-width:0px
					max-height:0px
					display: inline;
					margin: 0 0 0 0;
					padding: 0 0 0 0;
				}
				p {
					text-align:justify;
				}
				.allineadx, p.allineadx {
					width: 100%;
					text-align: right;
					margin-bottom: 20px;
				}
				.allineasx {
					width: 100%;
					text-align: left;
					margin-bottom: 20px;
				}
				.virgolette {
					background: #FFEE99;
				}
				.mmod {
					background: #FFDD88;
				}
				.mod {
					background: #FFDDAA;
				}
				.omissis {
					font-weight: bold;
					text-align: left;
				}
