/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * ELEMENTO ROOT                                                                                                       *
 * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * */

body {	margin-left: 5px;
		font-family: "Verdana, Arial, Helvetica, sans-serif" ;
		font-size: 12pt ;
		text-align:justify;}

/*
<!-- ================================================================================ -->
<!-- ==================================================================== ANNESSI === -->
<!-- ================================================================================ -->
*/

.annessi{
	text-align: center;
	margin: 30 15 15 25;
	color: blue;
}



.denAnnesso, .titAnnesso {
	background: #EEEEFF;
    margin: 10 0 10 0;
}
