/*
<!-- ================================================================================ -->
<!-- ==================================================================== ANNESSI === -->
<!-- ================================================================================ -->
*/

.annessi{
	text-align: center;
	margin: 30 15 15 25;
	color: blue;
}


.elencoAnnessi {
}

.annesso {
}

.testata{
	background: #EEEEFF;
    margin: 10 0 10 0;
}

.denAnnesso, .titAnnesso {
	background: #EEEEFF;
    margin: 10 0 10 0;
}

.preAnnesso{
	text-align: left; 
	font-size: large; 
	font-weight: normal;
}

.rifesterno{ 
	text-align: center;
	font-size: normal; 
	font-weight: bold;
	color:blue;
	margin: 0 0 0 0;
}

.meta